@using ViewModel
@model BaseViewModel

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/bundles/jquery")

    <link rel="stylesheet" href="~/Content/normalize.min.css">

    @*@Styles.Render("~/Content/css")*@

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@RenderSection("TitleSection")</title>
    @RenderSection("HeaderSection", false)
</head>
<body>
    @Html.Partial("Header", Model.HeaderData)
    <main>
        @RenderSection("ContentBody")
    </main>
    @Html.Partial("Footer", Model.FooterData)
</body>
</html>
