@using ViewModel
@model BaseViewModel

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")

    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleSection")</title>
    @RenderSection("HeaderSection", false)
</head>
<body>
    @Html.Partial("Header", Model.HeaderData)
    <hr />
    <main>
            @RenderSection("ContentBody")
    </main>
    @Html.Partial("Footer", Model.FooterData)
</body>
</html>
